html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

.avatarBadge {
    height:23px;
    width:23px;
}
.widther {
    max-width:1400px;
    margin-top:80px;
}
.notifHolder {
    width:300px;
}

.slideContainer {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    overflow: hidden;
}
.slideContainer img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*object-fit: contain;   /* fill | contain | cover | none | scale-down */
}